.block-5 {
    z-index: -3;
    margin-right: 0;
}

.wrap5-top {
    text-align: center;
    background: url(../img/components/bg-blue.png) 50%/cover no-repeat;
}

.block5-title {
    margin: 0;
    margin-top: -1.4vw;
}

.block5-title-bold {
    margin: 0;
    font-size: 1.5vw;
}

.block5-title {
    position: relative;
}

.wrap5-center {
    position: relative;
}

.block5-companyLogo {
    height: 1.5vw;
    margin-left: 1vw;
    margin-bottom: 14.4vw;
}

.block5-shape {
    height: 17vw;
    top: -0.1vw;
    left: 3.5vw;
    z-index: -1;
}

.block5-img-man {
    height: 16vw;
    margin-top: 0.4vw;
    margin-left: -3.8vw;
}

.wrap5-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 3.2vw;
    background-color: #173955;
}

.block5-bottom-dateBlock {
    margin-top: 0.3vw;
    margin-left: 1vw;
}

.date-block5-date,
.date-block5-hour {
    font-size: 0.7vw;
    margin-bottom: 0;
}

.block5-social-block {
    display: flex;
    flex-direction: column;
    height: 3vw;
    margin: 0;
    margin-right: 1vw;
}

.block5-block-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5vw;
    margin-bottom: 0.2vw;
}

.block5-link {
    height: 1vw;
    margin-right: 0;
    margin-bottom: 0;
}

.block5-link-company {
    height: 1vw;
    margin-bottom: 0.5vw;
    font-size: 0.485vw;
}

.link-block5 {
    height: 1vw;
    display: block;
}