/* block1 */

.block-1 {
    margin: 0 auto;
    background-color: #7d7c7c;
    position: relative;
    grid-area: b1;
    z-index: -2;
    overflow: hidden;
}

.line {
    position: absolute;
    width: 10vw;
    height: 100%;
    left: 0;
    background-color: #1b435f;
    z-index: -1;
}

.wrap1-top {
    display: flex;
}

.wrap1-title-block {
    text-align: center;
}


.wrap1-center {
    display: flex;
    margin-top: -1.5vw;
}

.wrap1-center-text {
    margin-top: 5.5vw;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 1.1vw;
    text-align: justify;
    width: 22vw;
}

.wrap1-bottom {
    display: flex;
    align-items: flex-end;
    margin-top: -1.5vw;
    position: relative;
}

.polygon-block1 {
    position: absolute;
    z-index: -1;
    right: -3.5vw;
    bottom: -5.5vw;
}

.polygon-block1-img {
    width: 22vw;
}

.date-block1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vw;
    border-left: 0.5vh solid #ffffff;
    padding-left: 0.5vw;
}